/* font-family: 'Caprasimo', cursive;
font-family: 'Poppins', sans-serif;
font-family: "Playfair Display", serif;
font-family: 'Roboto Mono', monospace; */

body {
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-left: 5px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin-left: 10px;
}
